<footer class="container text-center mt-5">
    <p class="text_muted">
        <small>
            &spades; {{ 'now'|date('Y') }} &middot;
            Ludothèque by Emilie from CSI <span class="text-danger">&hearts;</span>
        </small>
    </p>
</footer>