html, body {
    font-family: 'Yusei Magic', sans-serif;
}

.alert {
    padding: 10px;
    color: white;
    text-align: center;

}
.jeu img:hover {
    transform: scale(1.075);
}
.jeu img  {
    transition: transform 0.3s ease-out;
}
