{% extends 'base.html.twig' %}

{% block title 'Nouveau Jeu' %}

{% block body %}
    <h1>Ajouter un jeu</h1>
    {{ form_start(form)}}
        {{form_widget(form)}}
            <input type="submit" value="Ajouter un jeu">
    {{ form_end(form) }}
{% endblock %}