{% extends 'base.html.twig' %}

{% block title 'Modifier un Jeu #' ~ jeu.id %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Modifier un jeu # {{ jeu.id }}</h1>

            {{ include('jeux/_form.html.twig', {submitButtonText : 'Modifier'}) }}
        </div>
    </div>

{% endblock %}