{% extends 'base.html.twig' %}

{% block title 'Tous les jeux!' %}

{% block body %}
{# fonction pluralize créée pour mettre le mot jeu au pluriel selon le nombre d'entrées dans la base de données
    Fonction décrite dans AppExtension.php#}
<h1>{{ pluralize(jeux|length, 'jeu') }}</h1>
    {% for jeu in jeux %}
        <article>
            <h2><a href="{{ path('app_jeux_show', {id: jeu.id}) }}">{{ jeu.title }}</a></h2>
            <p>{{ jeu.description }}</p>
        </article>
    {% endfor %}
{% endblock %}
