{% extends 'base.html.twig' %}

{% block body %}
    <h1>Perdu(e)?</h1>
    <p>La page demandée n'existe pas! Merci de vérifier l'URL ou <a href="{{ path('app_home') }}">retour à la case départ!</a></p>
    <img src="\img\maze.jpg" alt="perdu!" class="w-100">
{% endblock %}